In [6]:
import pandas as pd
import plotly.express as px
import dash as dash
from dash import dcc, ctx
from dash import html, dash_table
import dash_bootstrap_components as dbc
import dash_daq as daq
from dash.dependencies import Input, Output, State
import pathlib
import plotly.graph_objects as go

df= pd.read_excel("Border Crossings.xlsx")
print(df)
df=df.groupby('Year')['Value'].apply(lambda x: x.div(x.iloc[0]).subtract(1).mul(100))
print("Separate")
print("")
print("")
print("")
print("")
print(df)

                  Port         Measure  Year    Month            Border  \
0              Douglas  Bus Passengers  1996  January  US-Mexico Border
1            Lukeville  Bus Passengers  1996  January  US-Mexico Border
2                 Naco  Bus Passengers  1996  January  US-Mexico Border
3              Nogales  Bus Passengers  1996  January  US-Mexico Border
4             San Luis  Bus Passengers  1996  January  US-Mexico Border
...                ...             ...   ...      ...               ...
87988         Presidio          Trucks  2022     June  US-Mexico Border
87989         Progreso          Trucks  2022     June  US-Mexico Border
87990  Rio Grande City          Trucks  2022     June  US-Mexico Border
87991             Roma          Trucks  2022     June  US-Mexico Border
87992           Ysleta          Trucks  2022     June  US-Mexico Border

         State       Date  Value
0      Arizona 1996-01-01    270
1      Arizona 1996-01-01   1131
2      Arizona 1996-01-01      0
3      Arizona 1996-01-01    804
4      Arizona 1996-01-01    320
...        ...        ...    ...
87988    Texas 2022-06-01    225
87989    Texas 2022-06-01   3069
87990    Texas 2022-06-01   4613
87991    Texas 2022-06-01   3434
87992    Texas 2022-06-01  56011

[87993 rows x 8 columns]
Separate




                  Port         Measure  Year    Month            Border  \
0              Douglas  Bus Passengers  1996  January  US-Mexico Border
1            Lukeville  Bus Passengers  1996  January  US-Mexico Border
2                 Naco  Bus Passengers  1996  January  US-Mexico Border
3              Nogales  Bus Passengers  1996  January  US-Mexico Border
4             San Luis  Bus Passengers  1996  January  US-Mexico Border
...                ...             ...   ...      ...               ...
87988         Presidio          Trucks  2022     June  US-Mexico Border
87989         Progreso          Trucks  2022     June  US-Mexico Border
87990  Rio Grande City          Trucks  2022     June  US-Mexico Border
87991             Roma          Trucks  2022     June  US-Mexico Border
87992           Ysleta          Trucks  2022     June  US-Mexico Border

         State       Date  Value
0      Arizona 1996-01-01    270
1      Arizona 1996-01-01   1131
2      Arizona 1996-01-01      0
3      Arizona 1996-01-01    804
4      Arizona 1996-01-01    320
...        ...        ...    ...
87988    Texas 2022-06-01    225
87989    Texas 2022-06-01   3069
87990    Texas 2022-06-01   4613
87991    Texas 2022-06-01   3434
87992    Texas 2022-06-01  56011

[87993 rows x 8 columns]